@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --Background10: #1005271a;
  --Background20: #10052733;
  --Background30: #1005274d;
  --Background40: #10052766;
  --Background50: #10052799;
  --Background60: #10052780;
  --Background70: #100527b3;
  --Background80: #100529cc;
  --Background90: #100527e6;
  --Background: #100527;
  --Black10: #1010171a;
  --Black20: #10101733;
  --Black30: #1010174d;
  --Black40: #10101766;
  --Black50: #10101780;
  --Black60: #10101799;
  --Black70: #101017b3;
  --Black80: #101017cc;
  --Black90: #101017e6;
  --Black: #101017;
  --DarkPurple: #320066;
  --Disabled-Grey: #10101780;
  --Error10: #d400001a;
  --Error20: #d4000026;
  --Error30: #d4000033;
  --Error40: #d400004d;
  --Error50: #d4000050;
  --Error60: #d4000060;
  --Error70: #d4000070;
  --Error80: #d4000080;
  --Error90: #d4000090;
  --Error: #d40000;
  --Green10: #03ad561a;
  --Green20: #03ad5626;
  --Green30: #03ad5633;
  --Green40: #03ad564d;
  --Green50: #03ad5650;
  --Green60: #03ad5660;
  --Green70: #03ad5670;
  --Green80: #03ad5680;
  --Green90: #03ad5690;
  --Green: #03ad56;
  --Gris: #a6a6a6;
  --Orange10: #f250221a;
  --Orange20: #f25022cc;
  --Orange30: #f25022e6;
  --Orange40: #f25022ff;
  --Orange50: #f25022ff;
  --Orange60: #f25022ff;
  --Orange70: #f25022ff;
  --Orange80: #f25022cc;
  --Orange90: #f25022e6;
  --Orange: #f25022;
  --PrimaryLight1: #8a38f5;
  --PrimaryLight2: #a34cff;
  --PrimaryLight3: #a855ff;
  --PrimaryLight4: #7d13eb;
  --PrimaryShadow1: #3a0477;
  --PureWhite: #ffffff;
  --Purple10: #5603ad1a;
  --Purple20: #5603ad33;
  --Purple30: #5603ad4d;
  --Purple40: #5603ad66;
  --Purple50: #5603ad80;
  --Purple60: #5603ad99;
  --Purple70: #5603adb3;
  --Purple80: #5603adcc;
  --Purple90: #5603ade6;
  --Purple: #5603ad;
  --SecondaryLight: #74e0a9;
  --SecondaryLight2: #a9efcb4e;
  --SecondaryShadow: #07733c;
  --Star: #fbbc05;
  --Stroke-Star: #cd9600;
  --Success10: #2294221a;
  --Success20: #22942233;
  --Success30: #2294224d;
  --Success40: #22942266;
  --Success50: #22942280;
  --Success60: #22942299;
  --Success70: #229422b3;
  --Success80: #229422cc;
  --Success90: #229422e6;
  --Success: #229422;
  --Warning10: #cd96001a;
  --Warning20: #cd960033;
  --Warning30: #cd96004d;
  --Warning40: #cd960066;
  --Warning50: #cd960080;
  --Warning60: #cd960099;
  --Warning70: #cd9600b3;
  --Warning80: #cd9600cc;
  --Warning90: #cd9600e6;
  --Warning: #cd9600;
  --White10: #e2e0e01a;
  --White20: #e2e0e033;
  --White30: #e2e0e04d;
  --White40: #e2e0e066;
  --White50: #e2e0e080;
  --White60: #e2e0e099;
  --White70: #e2e0e0b3;
  --White80: #e2e0e0cc;
  --White90: #e2e0e0e6;
  --White: #e2e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

/*////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////SIGN UP////////////////////////////////////////// 
/////////////////////////////////////////////////////////////////////////////////////////*/

.body-bg {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("../assets/images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--PureWhite);
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

/* Ver como no hardcodear los anchos y altos */
.container-form {
  width: 420px;
  background-color: var(--Black30);
  border: var(--Green) 2px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

h2,
a {
  color: var(--Green);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
}

.btn-signup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: var(--Purple);
  color: var(--PureWhite);
  border: var(--Green) 0.5px solid;
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: .6s ease all;
  position: relative;
  overflow: hidden;
}

.btn-signup::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 60%;
  transition: .6s ease-in-out all;
  border-radius: 12px;
  transform-origin: center;
}

.btn-signup:hover {
  background: var(--SecondaryLight);
  color: var(--Black);
}

.btn-signup:hover::after {
  transform: scale(300);
  background: var(--Green);
}

.btn-signup:focus {
  background: var(--Green);
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
}

.btn-signup:focus span {
  opacity: 0;
}

.btn-signup:focus::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 17px;
  width: 10px;
  height: 26px;
  border-right: 5px solid var(--PureWhite);
  border-bottom: 5px solid var(--PureWhite);
  transform: rotate(45deg);
}

.btn-signup span {
  position: relative;
  z-index: 2;
}

.container-input {
  min-width: 330px;
}

.container-input div input {
  width: 100%;
  border: var(--Black20) 2px solid;
  border-radius: 8px;
  padding: 5px;
}

.container-input div input:hover {
  border: var(--Purple80) 2.5px solid;
}

.helper-text {
  font-size: 12px;
}

.input-with-icon {
  position: relative;
  margin-top: 2px;
}

form .input-with-icon input {
  padding: 5px 5px 5px 40px;
  margin-bottom: 5px;
  outline: none;
  font-size: 15px;
  padding-right: 40px; /* espacio para el icono */
}

form .input-with-icon .icon {
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
  color: var(--Black80);
}

form .input-with-icon .toggle-password {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--Black80);
  font-size: 22px;
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 30px;
  color: var(--PureWhite);
  cursor: pointer;
}

figure {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

figure img {
  width: 100%;
}

.check {
  display: flex;
  align-items: center;
  gap: 8px; /* separa checkbox del texto */
  cursor: pointer;
}

.check input[type="checkbox"] {
  display: none; /* ocultamos el checkbox nativo */
}

.check span {
  width: 22px;
  height: 22px;
  border: 2px solid #555;
  border-radius: 20%; /* 👈 redondeado */
  background-color: var(--PureWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* Estado checked */
.check input[type="checkbox"]:checked + span {
  background-color: #4caf50; /* verde */
  border-color: #4caf50;
  color: white;
}

.check input[type="checkbox"]:checked + span::after {
  content: "✔"; /* el check */
  font-size: 14px;
  color: white; /* check blanco */
}

/*////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////LOGIN////////////////////////////////////////// 
/////////////////////////////////////////////////////////////////////////////////////////*/

/* Centrado exclusivo para login */
.login-body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--PureWhite);
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 40px;
}

/*////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////HOME MOBILE////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 768px) {
  .home-body {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--Background);
    color: var(--PureWhite);
  }

  .main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--PrimaryShadow1);
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////RUNNING GAME////////////////////////////////////////// 
/////////////////////////////////////////////////////////////////////////////////////////*/

.main-running-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 30px 0 30px;
}

.body-running-game {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--Background);
  color: var(--PureWhite);
}

.running-game {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.breadcrumb a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--PureWhite);
  margin-right: 5px;
}

.breadcrumb a:hover {
  transition: all 0.3s ease;
  color: var(--Green);
}

.breadcrumb a:focus {
  transition: all 0.3s ease;
  color: var(--SecondaryLight);
}

.running-game section {
  width: 100%;
}

.running-game iframe {
  width: 100%;
}

.container-game {
  width: 100%;
}

.container-game .image-game {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  display: block;
}

.menu-game {
  height: 100%;
  max-height: 70px;
}

.menu-game .star, .shopping_cart, .share, .fullscreen, .fullscreen-exit {
  cursor: pointer;
}

.menu-game .material-symbols-outlined.star {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
  color: var(--Star);
}

.menu-game .material-symbols-outlined.shopping_cart {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
  color: var(--PureWhite);
}

.menu-game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Purple);
  padding: 8px;
}

.menu-game-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-share {
  width: 100%;
  height: 100%;
  max-width: 220px;
  max-height: 48px;
  background: var(--Purple);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  opacity: 0;
}

.media-game-info {
  box-shadow: 0 0 30px var(--Purple30);
}

.description-game {
  width: 50%;
}

.description-game h3 {
  font-size: 30px;
}

.description-game p {
  margin: 20px 0 15px 0;
}

.description-game img {
  width: 90%;
  height: 100%;
  max-height: 270px;
  object-fit: cover;
  margin-bottom: 10px;
}

.info-game {
  margin-left: 40px;
  margin-bottom: 30px;
}

.manual-game {
  width: 50%;
}

.manual-game h5 {
  font-size: 22px;
}

.manual-game h6 {
  font-size: 17px;
  color: var(--Green);
}

.how-to-play {
  margin-left: 40px;
}

.container-info-games {
  margin-bottom: 20px;
}

.container-info-games,
.container-comments-games {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}

#comment {
  width: 100%;
  height: 80px;
  color: var(--PureWhite);
  background-color: var(--Black30);
  border: var(--PrimaryLight1) 2px solid;
  border-radius: 5px;
  text-align: start;
  padding: 10px;
}

.add-comment {
  margin-bottom: 30px;
}

.container-comments-games .comments-game .add-comment h5 {
  font-size: 24px;
  margin-bottom: 15px;
}

.add-comment h4 {
  margin-bottom: 10px;
}

.container-comments-games .comments-game .comments h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.comments-game {
  width: 50%;
}

.similar-games {
  width: 50%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-form #comment {
  vertical-align: top;
}

.comment-form #comment::placeholder {
  position: relative;
  top: 0;
}

.btns-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-cancel,
.btn-comment {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  color: var(--PureWhite);
  cursor: pointer;
  border: none;
  transition: all .3s ease;
  position: relative;
}

.btn-cancel {
  background-color: var(--White60);
}

.btn-cancel:hover {
  background-color: var(--Error);
  color: var(--Black);
  animation: shake 0.5s ease;
}

@keyframes shake {
  0%, 100% { 
    transform: translateX(0);
  }
  25% { 
    transform: translateX(-3px);
  }
  75% { 
    transform: translateX(3px);
  }
}

.btn-comment {
  background-color: var(--Green);
}

.btn-comment:hover {
  background: var(--PrimaryLight1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 0 0 var(--Purple10);
  }
  50% {
    box-shadow: 0 0 0 5px var(--Purple70);
  }
}

.container-comment .username {
  color: var(--PrimaryLight2);
}

.text-comment {
  background-color: var(--Purple50);
  border: var(--PrimaryLight1) 1px solid;
  color: var(--PureWhite);
  border-radius: 15px;
  padding: 15px 30px 15px 15px;
  margin-bottom: 20px;
  position: relative;
}

.text-comment .favorite-comment {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
  color: var(--Error);
}

.header-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header-comment .date {
  color: var(--White90);
}

.manual-game-container {
  margin-bottom: 50px;
}

.tutorial-game h5 {
  font-size: 24px;
  margin-bottom: 20px;
}

.similar-games h5 {
  font-size: 24px;
}

.container-similar-games {
  display: grid;
  justify-items: center;
  grid-template-columns: 50% 50%;
  gap: 20px;
  margin-top: 40px;
}

.card {
  width: 100%;
  background: var(--White);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.4);
}

.card-image {
  width: 100%;
  height: 169px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 15px;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--Black);
}

.card-price {
  font-size: 16px;
  font-weight: 700;
  color: var(--PrimaryLight4);
}

.star-card {
  color: var(--Black);
}